<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_First>
            <version>0.0.3</version>
        </Itdelight_First>
    </modules>
    <global>
        <email>
            <contacts_email_email_template>
                <file>feedback_form.html</file>
                <type>html</type>
            </contacts_email_email_template>
        </email>
        <events>
            <sales_quote_add_item><!-- observe the event -->
                <observers>
                    <itdelight_first>
                        <type>singleton</type>
                        <class>itdelight_first/observer</class>
                        <method>changeQty</method>
                    </itdelight_first>
                </observers>
            </sales_quote_add_item>
            <!--</sales_quote_add_item>-->
        </events>
        <resources>
            <itdelight_first_setup>
                <setup>
                    <module>Itdelight_First</module>
                </setup>
            </itdelight_first_setup>
        </resources>
        <blocks>
            <itdelight_first>
                <class>Itdelight_First_Block</class>
            </itdelight_first>
        </blocks>
        <models>
            <itdelight_first>
                <class>Itdelight_First_Model</class>
                <resourceModel>itdelight_first_resource</resourceModel>
            </itdelight_first>
            <itdelight_first_resource>
                <class>Itdelight_First_Model_Resource</class>
                <entities>
                    <!-- figure out name about blogpost how to use it! Don't understand what is using in Model _init()-->
                    <blogpost>
                        <table>itdelight_first_blogposts</table>
                    </blogpost>
                    <blogcategory>
                        <table>itdelight_first_blogcategory</table>
                    </blogcategory>
                    <table_quantity>
                        <table>itdelight_first_quantity</table>
                    </table_quantity>
                </entities>
            </itdelight_first_resource>
        </models>
        <helpers>
            <itdelight_first>
                <class>Itdelight_First_Helper</class>
            </itdelight_first>
        </helpers>
    </global>
    <admin>
        <routers>
            <itdelight_first>
                <use>admin</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first_admin</frontName>
                </args>
            </itdelight_first>
        </routers>
    </admin>
     <frontend>
        <routers>
            <itdelight_first>
                <use>standard</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first</frontName>
                </args>
            </itdelight_first>
        </routers>
         <layout>
             <updates>
                 <itdelight_first>
                     <file>itdelight_first.xml</file>
                 </itdelight_first>
             </updates>
         </layout>
    </frontend>

</config>