<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_First>
            <version>0.0.5</version>
        </Itdelight_First>
    </modules>
    <global>
        <email>
            <contacts_email_email_template>
                <file>feedback_form.html</file>
                <type>html</type>
            </contacts_email_email_template>
        </email>
        <events>
            <sales_quote_add_item>
                <observers>
                    <itdelight_first>
                        <type>singleton</type>
                        <class>itdelight_first/observer</class>
                        <method>changeQty</method>
                    </itdelight_first>
                </observers>
            </sales_quote_add_item>
        </events>
        <blocks>
            <itdelight_first>
                <class>Itdelight_First_Block</class>
            </itdelight_first>
            <catalog>
                <rewrite>
                    <product_view>Itdelight_First_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <itdelight_first>
                <class>Itdelight_First_Model</class>
                <resourceModel>itdelight_first_resource</resourceModel>
            </itdelight_first>
            <itdelight_first_resource>
                <class>Itdelight_First_Model_Resource</class>
                <entities>
                    <blogpost>
                        <table>itdelight_first_blogposts</table>
                    </blogpost>
                    <blogcategory>
                        <table>itdelight_first_blogcategory</table>
                    </blogcategory>
                    <table_quantity>
                        <table>itdelight_first_quantity</table>
                    </table_quantity>
                </entities>
            </itdelight_first_resource>
        </models>
        <resources>
            <itdelight_first_setup>
                <setup>
                    <module>Itdelight_First</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </itdelight_first_setup>
        </resources>
        <helpers>
            <itdelight_first>
                <class>Itdelight_First_Helper</class>
            </itdelight_first>
        </helpers>


    </global>
    <admin>
        <routers>
            <itdelight_first>
                <use>admin</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first_admin</frontName>
                </args>
            </itdelight_first>
        </routers>
    </admin>
     <frontend>
        <routers>
            <itdelight_first>
                <use>standard</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first</frontName>
                </args>
            </itdelight_first>
        </routers>
         <layout>
             <updates>
                 <itdelight_first>
                     <file>itdelight_first.xml</file>
                 </itdelight_first>
             </updates>
         </layout>
    </frontend>
    <default>
        <carriers>
            <excellence>
                <active>1</active>
                <model>itdelight_first/carrier_excellence</model>
                <title>Carrier Title</title>
                <name>Method Name</name>
                <price>5.00</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </excellence>
        </carriers>
        <payment>
            <itdelight_points>
                <model>itdelight_first/standard</model>// very important thing, here you select the model for your payment method
                <active>1</active>
                <order_status>pending</order_status>
                <title>Points</title>
                <payment_action>sale</payment_action>
                <submit_url>https://someurl.com</submit_url>
                <merchant_id>Insert merchant id</merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </itdelight_points>
        </payment>
    </default>

</config>


<!--<config>-->
<!--<modules>-->
    <!--<inchoo_mycheckout>-->
        <!--<version>1.0.0</version>-->
    <!--</inchoo_mycheckout>-->
<!--</modules>-->

<!--<global>-->
    <!--<models>-->
        <!--<mycheckout>-->
            <!--<class>Inchoo_Mycheckout_Model</class>-->
        <!--</mycheckout>-->
    <!--</models>-->
    <!--<helpers>-->
        <!--<mycheckout>-->
            <!--<class>Inchoo_Mycheckout_Helper</class>-->
        <!--</mycheckout>-->

    <!--</helpers>-->
    <!--<blocks>-->
        <!--<mycheckout>-->
            <!--<class>Inchoo_Mycheckout_Block</class>-->
        <!--</mycheckout>-->
    <!--</blocks>-->
<!--</global>-->

<!--<default>-->
    <!--<payment>-->
        <!--<mycheckout>-->
            <!--<model>mycheckout/standard</model>// very important thing, here you select the model for your payment method-->
            <!--<active>1</active>-->
            <!--<order_status>pending</order_status>-->
            <!--<title>CUSTOM CARD</title>-->
            <!--<payment_action>sale</payment_action>-->
            <!--<submit_url>https://someurl.com</submit_url>-->
            <!--<merchant_id>Insert merchant id</merchant_id>-->
            <!--<allowspecific>0</allowspecific>-->
            <!--<sort_order>1</sort_order>-->
        <!--</mycheckout>-->
    <!--</payment>-->
<!--</default>-->

<!--<frontend>-->
    <!--<routers>-->
        <!--<mycheckout>-->
            <!--<use>standard</use>-->
            <!--<args>-->
                <!--<module>Inchoo_Mycheckout</module>-->
                <!--<frontname>customcard</frontname>-->
            <!--</args>-->
        <!--</mycheckout>-->
    <!--</routers>-->
<!--</frontend>-->
<!--</config>-->