<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_First>
            <version>0.0.1</version>
        </Itdelight_First>
    </modules>
    <global>
        <email>
            <contacts_email_email_template>
                <file>contact_form.html</file>
                <type>text</type>
            </contacts_email_email_template>
        </email>
        <events>
            <checkout_cart_product_add_after><!-- observe the event -->
                <observers>
                    <itdelight_first>
                        <class>itdelight_first/observer</class>
                        <method>changeQty</method>
                    </itdelight_first>
                </observers>
            </checkout_cart_product_add_after>
            <!--</checkout_cart_add_product_complete>-->
        </events>
        <resources>
            <itdelight_first_setup>
                <setup>
                    <module>Itdelight_First</module>
                </setup>
            </itdelight_first_setup>
        </resources>
        <blocks>
            <itdelight_first>
                <class>Itdelight_First_Block</class>
            </itdelight_first>
        </blocks>
        <models>
            <itdelight_first>
                <class>Itdelight_First_Model</class>
                <resourceModel>itdelight_first_resource</resourceModel>
            </itdelight_first>
            <itdelight_first_resource>
                <class>Itdelight_First_Model_Resource</class>
                <entities>
                    <!-- figure out name about blogpost how to use it! Don't understand what is using in Model _init()-->
                    <blogpost>
                        <table>itdelight_first_blogposts</table>
                    </blogpost>
                    <blogcategory>
                        <table>itdelight_first_blogcategory</table>
                    </blogcategory>
                </entities>
            </itdelight_first_resource>
        </models>
        <helpers>
            <itdelight_first>
                <class>Itdelight_First_Helper</class>
            </itdelight_first>
        </helpers>
    </global>
<!--    <admin>
        <routers>
            <adminhtml>
                <args>
                    <module>
                        <Itdelight_First before="Mage_Adminhtml">Itdelight_First_Adminhtml</Itdelight_First>
                    </module>
                </args>
            </adminhtml>
        </routers>
    </admin>-->
    <admin>
        <routers>
            <itdelight_first>
                <use>admin</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first_admin</frontName>
                </args>
            </itdelight_first>
        </routers>
    </admin>
     <frontend>
        <routers>
            <itdelight_first>
                <use>standard</use>
                <args>
                    <module>Itdelight_First</module>
                    <frontName>first</frontName>
                </args>
            </itdelight_first>
        </routers>
         <layout>
             <updates>
                 <itdelight_first>
                     <file>itdelight_first.xml</file>
                 </itdelight_first>
             </updates>
         </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <firstconfig_options>
                                            <title>Store Hello World Module Section</title>
                                        </firstconfig_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>