<?xml version="1.0"?>
<config>
    <modules>
        <Itdelight_Examination>
            <version>1.0.1</version>
        </Itdelight_Examination>
    </modules>
    <global>
        <events>
            <sales_order_payment_place_start>
                <observers>
                    <itdelight_examination_pointdiff>
                        <type>model</type>
                        <class>Itdelight_Examination_Model_Observer</class>
                        <method>pointDifference</method>
                    </itdelight_examination_pointdiff>
                </observers>
            </sales_order_payment_place_start>
            <!--</sales_order_grid_collection_load_before>-->
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <itdelight_examination_act>
                        <type>model</type>
                        <class>Itdelight_Examination_Model_Observer</class>
                        <method>appendPointsColumn</method>
                    </itdelight_examination_act>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_payment_save_before>
                <observers>
                    <itdelight_examination>
                        <type>singleton</type>
                        <class>itdelight_examination/observer</class>
                        <method>checkPoints</method>
                    </itdelight_examination>
                </observers>
            </sales_order_payment_save_before>
            <payment_method_is_active>
                <observers>
                    <itdelight_examination>
                        <type>singleton</type>
                        <class>itdelight_examination/observer</class>
                        <method>isEnoughPoints</method>
                    </itdelight_examination>
                </observers>
                <!--</checkout_controller_onepage_save_shipping_method>-->
            </payment_method_is_active>
        </events>
        <blocks>
            <itdelight_examination>
                <class>Itdelight_Examination_Block</class>
            </itdelight_examination>
        </blocks>
        <models>
            <itdelight_examination>
                <class>Itdelight_Examination_Model</class>
                <resourceModel>itdelight_examination_resource</resourceModel>
            </itdelight_examination>
            <itdelight_examination_resource>
                <class>Itdelight_Examination_Model_Resource</class>
                <entities>
                    <cslider>
                        <table>itdelight_examination_cslider</table>
                    </cslider>
                </entities>
            </itdelight_examination_resource>
        </models>
        <resources>
            <itdelight_examination_setup>
                <setup>
                    <module>Itdelight_Examination</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </itdelight_examination_setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </resources>
        <helpers>
            <itdelight_examination>
                <class>Itdelight_Examination_Helper</class>
            </itdelight_examination>
        </helpers>


    </global>
    <frontend>
        <layout>
            <updates>
                <itdelight_examination>
                    <file>itdelight/examination.xml</file>
                </itdelight_examination>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <itdelight_examination>
                <use>admin</use>
                <args>
                    <module>Itdelight_Examination</module>
                    <frontName>examination_admin</frontName>
                </args>
            </itdelight_examination>
        </routers>
    </admin>

    <default>
        <carriers>
            <excellence>
                <active>1</active>
                <model>itdelight_examination/carrier_excellence</model>
                <title>Carrier Title</title>
                <name>Custom shipping</name>
                <price>5.00</price>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </excellence>
        </carriers>
        <payment>
            <using_points>
                <model>itdelight_examination/Checkpoints</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Points</title>
                <payment_action>sale</payment_action>
                <submit_url>https://someurl.com</submit_url>
                <merchant_id>Insert merchant id</merchant_id>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </using_points>
        </payment>
    </default>

</config>